<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}КП{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="{{ asset('css/_main.css') }}" rel="stylesheet"/>

            <link href="{{ asset('css/jquery-ui-bootstrap.css') }}" rel="stylesheet"/>
            {# <link href="{{ asset('css/_style.css') }}" rel="stylesheet"/> #}
            {# <link href="{{ asset('css/_style_plus.css') }}" rel="stylesheet"/> #}
            {# <link href="{{ asset('css/media_all.css') }}" rel="stylesheet"/> #}

        {% endblock %}
        {# <link rel="icon" href="{{ 'assets/images/favicon.ico'|theme }}"> #}
        {# <link href="{{ 'assets/css/bootstrap.min.css'|theme }}" rel="stylesheet"> #}



         {#<script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script> #}

    </head>
    <body class>
        <div class="main">
            <pre>{{ app.request.getPathInfo }}</pre>
            <div class="b bg-main"></div>
            <div class="main-picture"></div>
            <header class="header">
                {% block header %}
                    <div class="top-line">-</div>
                    <div class="top-block">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                <a href="{{ path('start_page') }}" class="logotype">
                                    <img src="{{ asset('img/rr_inside.svg') }}" onerror="this.onerror=null; this.src='RR.png'">
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                <div class="contacts-block">
                                    <p>КРУГЛОСУТОЧНАЯ СПРАВОЧНАЯ</p>
                                    <div class="contacts-block_phone">
                                        8 800 100-34-34
                                    </div>
                                    <p class="mobile_hide_only">Звонок по России бесплатный</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                <div class="contacts-block">
                                    <p>НАШ ТЕЛЕФОН</p>

                                    <div class="contacts-block_phone">
                                        8 831 422-17-77
                                    </div>
                                    <p class="mobile_hide_only">Справочная филиала</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="h-social">
                                    <div class="h-social_name">
                                        БУДЬТЕ С НАМИ
                                    </div>
                                    <ul class="social-block gr">
                                        <li class="social-block_item">
                                            <a href="https://www.facebook.com/fkprf.ru" class="social-block_link ic"></a>
                                        </li>
                                        <li class="social-block_item">
                                            <a href="https://vk.com/fkprf_ru" class="social-block_link ic1"></a>
                                        </li>
                                        <li class="social-block_item">
                                            <a href="https://twitter.com/fkprf_ru" class="social-block_link ic2"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="search-block active">
                                    <form method="get" action="#">
                                        <div class="search-block_inp">
                                            <input type="text" name="text" placeholder="Поиск по сайту" value="">
                                        </div>
                                        <div class="search-block_button">
                                            <input type="submit" class="search-block_btn" value="Найти">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </header>
            {% block menu %}
                <div class="navi-block">
                    <nav class="navbar navbar-light bg-light">
                        <div class="menu">
                            <nav class="main-navi">
                                {{
                                    knp_menu_render('main', {
                                        'currentClass': 'active',
                                        'firstClass': null,
                                        'lastClass': null,
                                        'ancestorClass': null,
                                        'currentAsLink': null
                                    }) |replace({'main-navi_item ':'main-navi_item', 'main-navi__drop menu_level_1':'main-navi__drop',
                                    'main-navi__drop_item  ':'main-navi__drop_item'})|raw
                                }}
                            </nav>
                        </div>
                    </nav>
                </div>
            {% endblock %}

            {% block main_content %}
            {% endblock %}
            <section class="person-section">
                    <div class="row">
                    </div>
            </section>
            <div class="content content_services">
                <section class="services-section">
                    <style>
                        .main-banner {
                            background-color: #fff;
                            margin: 40px 0;
                        }
                        .main-banner .activities_btn a { color: #006FB8; }
                        .main-banner .activities_btn a:hover { color: #87bd57; }
                        .main-banner .banner-outer-left {
                            background-image: url(img/actions/pubstatic/bannerEgrn/home.png);
                            background-repeat: no-repeat;
                            padding-left: 80px;
                        }
                        .main-banner .banner-outer-left .banner-left { margin-top: -10px; }
                        .main-banner .banner-outer-left .banner-left h2 {
                            padding-top: 16px;
                            margin-bottom: 4px;
                        }
                        .main-banner .banner-outer-left .banner-left p {
                            font-size: 16px;
                            margin-bottom: 24px;
                        }
                        .main-banner .banner-outer-left .banner-left .activities_btn {
                            width: 213px;
                            height: 48px;
                            margin-bottom: 38px;
                        }
                        .main-banner .banner-outer-right { position: relative; }
                        .main-banner .banner-outer-right .img-gu {
                            background-image: url(img/actions/pubstatic/bannerEgrn/pic-gu.png);
                            background-position: right top;
                            background-repeat: no-repeat;
                            height: 15px;
                            position: absolute;
                            top: 8px;
                            width: 100px;
                            right: 200px;
                        }
                        .main-banner .banner-outer-right .img-rr {
                            background-image: url(img/actions/pubstatic/bannerEgrn/pic-rr.png);
                            background-position: right top;
                            background-repeat: no-repeat;
                            height: 50px;
                            position: absolute;
                            top: 0px;
                            right: 17px;
                            width: 122px;
                        }
                        .main-banner .banner-outer-right .page-outer {
                            position: absolute;
                            right: 409px;
                        }
                        .main-banner .banner-outer-right .page-outer .page-small {
                            background-image: url(img/actions/pubstatic/bannerEgrn/page-small.png);
                            background-position: left bottom;
                            background-repeat: no-repeat;
                            height: 200px;
                            position: absolute;
                            top: 2px;
                            left: -50px;
                            width: 200px;
                        }
                        .main-banner .banner-outer-right .page-outer .page-small .page-big {
                            background-image: url(img/actions/pubstatic/bannerEgrn/page-big.png);
                            background-position: right bottom;
                            background-repeat: no-repeat;
                            height: 200px;
                            position: absolute;
                            top: 0px;
                            left: 82px;
                            width: 400px;
                        }
                    </style>
                    <div class="services-section-outer main-banner">
                        <div class="services-section_ins">
                            <div class="row">
                                <div class="col-xs-12 col-md-7">
                                    <div class="banner-outer-left">
                                        <div class="banner-left">
                                            <h2>Главная новость</h2>
                                            <p>
                                                <br>
                                                Нет новостей
                                            </p>
                                            <div class="activities_btn">
                                                <a href="#">
                                                    <span>-</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden-xs col-md-5">
                                    <div class="banner-outer-right">
                                        <div class="img-gu"></div>
                                        <div class="img-rr"></div>
                                        <div class="hidden-sm page-outer">
                                            <div class="page-small">
                                                <div class="page-big"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="content">
                {% block body %}
                {% endblock %}
                {% block process %}
                {% endblock %}
            </div>
        </div>
        {% block javascripts %}
			{# <script type="text/javascript" src="{{ asset('js/script.js') }}"></script> #}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        {% endblock %}
    </body>
</html>
