{% extends 'base.html.twig' %}

{% block title %}Hello HelpController!{% endblock %}

{% block process %}
	<div class="subdiv">
	<form enctype="multipart/form-data" method="post" action="index.php#start">
		<table>
			<tr>
				{% for oneThProcess in thProcess %}
			        <th {% if oneThProcess['colspan'] is defined %} colspan={{ oneThProcess['colspan'] }} {% endif %}>
					{{ oneThProcess[0] }}</th>
			    {% endfor %}
			</tr>

		    {% for oneTrProcess in trProcess %}

		    	{% set id = oneTrProcess.ID %}

		    	<tr>
		    		<td>
		    			<input
		    				onchange="this.form.submit()"
		    				type="radio"
		    				name="proc_num"
		    				value= {{ "#{id}#{oneTrProcess.uriKey}/#{oneTrProcess.PARENT_ID}" }}
		    				{#
		    				($proc_recheck==$i)?'checked':''
		    				#}
		    			/>
		    		</td>
			    	{% if oneTrProcess.LEVEL == 1 %}
			        	<td colspan = 2> {{ oneTrProcess.NOTE|convert_encoding(_charset,'cp1251') }} </td>
			        	{% set parentNote = oneTrProcess.NOTE|convert_encoding(_charset,'cp1251') %}
			        {% else  %}
						<td width="10px" align="center">&#42774;</td>
						<td> {{ parentNote }} {{ oneTrProcess.NOTE|convert_encoding(_charset,'cp1251') }}</td>
			        {% endif %}

					<td>{{ oneTrProcess.TYPE_VER|convert_encoding(_charset,'cp1251') }}</td>


					{% for oneStage in oneTrProcess.ST %}
						{% if oneStage['stview'] == -2 %}
							<td width="10px" align="center">&#42774;</td>
						{% elseif oneStage['stview'] == -1 %}
							<td>
								<img
									src="{{ asset('img/ball_redS.gif') }}"
									title="{{ oneStage.PUB_NAME|convert_encoding(_charset,'cp1251') }} [Последующая стадия]"
								>
							</td>
						{% elseif oneStage['stview'] == 0 %}
							<td>
								<img
									src="{{ asset('img/ball_yellowS.gif') }}"
									title="{{ oneStage.PUB_NAME|convert_encoding(_charset,'cp1251') }} [Идет обработка]"
								>
							</td>
						{% elseif oneStage['stview'] == 1 %}
							<td>
								<img
									src="{{ asset('img/ball_greenS.gif') }}"
									title="{{ oneStage.PUB_NAME|convert_encoding(_charset,'cp1251') }} [Стадия завершена]"
								>
							</td>
						{% elseif oneStage['stview'] == 2 %}
							<td>
								<img
									src="{{ asset('img/ball_blueS.gif') }}"
									title="{{ oneStage.PUB_NAME|convert_encoding(_charset,'cp1251') }} [Текущая стадия]"
								>
							</td>
						{% else %}
							<td> - </td>
						{% endif %}
					{% endfor %}
		    	</tr>
		    {% endfor %}

		   {# {{ html|raw }} |convert_encoding('utf-8','cp1251')#}
		</table>
		</div>




{% endblock %}
